.navbar-brand, .feed-ico {
	color: #8e44ad !important;
}

.title-info a,
.title-info a:hover,
.bordered-heading,
#edit strong,
#episodes-page .title-seasons .active {
	color: #8e44ad;
}

.text-border-top,
.add-new-actor p {
	border-color: #8e44ad;
}

.btn-info,
.btn-warning,
.nav-justified .active a,
.btn-inheading {
	background-color: #8e44ad !important;
	border-color: #8e44ad;
	color: #FFFFFF !important;
}

.btn-info:hover,
.btn-warning:hover,
.btn-inheading {
	background-color: #9b59b6;
	border-color: #9b59b6 !important;
}

.media a,
#edit .container p a,
#edit .container td a{
	color: #8e44ad;
}

.home-trailer-poster:hover .overlay i,
.home-trailer-poster:active .overlay i,
.home-trailer-poster:hover > figcaption > a,
.home-trailer-poster:active>figcaption>a {
	color: #8e44ad;
	border-color: #8e44ad;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover,
.title-title,
.title-title:hover {
	color: #8e44ad;
}

.heading {
	border-color: #8e44ad;
}

.navbar-default {
	border-bottom-color: #8e44ad;
}

footer {
	border-top-color:#8e44ad;
}

.tabs-title dd a {
	color: #8e44ad;
}

.pagination .active span,
.pagination .active span:hover {
	background-color: #8e44ad;
	border-color: #8e44ad;
}

.btn-group .active,
.search-page .btn-group .active span {
	color: #8e44ad;
	border-top-color: #8e44ad;
}

.search-page .btn-group .active:hover,
.user-profile .btn-group .active:hover,
.btn-group > button:active,
.btn-group > button:focus {
	color: #8e44ad !important;
	border-top: 3px solid #8e44ad !important;
}

.navbar-nav li a:hover,
footer a:hover {
	color: #8e44ad !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: #8e44ad;
box-shadow: 0 1px 1px #8e44ad inset, 0 0 8px #8e44ad;
outline: 0 none}

#yt-modal .modal-body {
	border-top: 2px solid #8e44ad !important;
}
